@tailwind base;
@tailwind components;
@tailwind utilities;


.page-label {
    margin: 0 0 0 0.75rem;
    font-size: inherit;
}


.delete {
    background-color: tomato;
}


.secondary {
    background-color: #818CF8;
}
